@import 'variables';
$font-size-xs: .9rem;

.root {
  fill: currentColor;
  font-size:$font-size-xs;
  height: 25px;
  width: 50%;
  transition: opacity 500ms;
  margin-bottom: 1em;
  user-select: none;
  cursor: pointer;
}

.hover {
  opacity: .2;

  &:hover {
    opacity: 1;
  }
}
