@import 'variables';
@import 'reboot';

@font-face {
  font-family: "yekan";
  src: url(/fonts/Yekan/Yekan.eot);
  src: url(/fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"),
        url(/fonts/Yekan/Yekan.woff)       format("woff"),
        url(/fonts/Yekan/Yekan.ttf)        format("truetype"),
        url(/fonts/Yekan/Yekan.svg#BYekan) format("svg");

  font-weight: normal;
  font-style: normal
}

::-webkit-scrollbar-button{ display: none; }
::-webkit-scrollbar-thumb{ background-color: rgba(0,0,0,.2); }
::-webkit-scrollbar-thumb:hover{ background-color: rgba(0,0,0,.2); }
::-webkit-scrollbar-track{ background-color: rgba(0,0,0,.1); }
::-webkit-scrollbar-track:hover{ background-color: rgba(0,0,0,.1); }
::-webkit-scrollbar{ width: 4px; height: 4px; }



html, body {
  height: 100%;
}

:global #app {
  min-height: 100%;
  display: flex;
  font-family: Rajdhani, $font-family-base;
}
