@import 'variables';
$game-bg: #120e15;

.section {
  background-color: $game-bg;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
}

.view {
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;

}

.screen {
  position: relative;
  width: 100%;
  left: -20%;
  border-radius: 0 8px 8px 0;
  background: white;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 3.5px 3.5px 3px 0px rgba(0, 0, 0, 0.2);
}

.bg {
  object-fit: cover;
}

.book {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  max-width: 290px;
  transform: translate(-50%, -50%);
  animation: swing 5s infinite ease-in-out;
}

.loading {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
}

@keyframes swing {
  0% {
    transform: translate(-50%, -44%);
  }

  50% {
    transform: translate(-50%, -54%);
  }

  100% {
    transform: translate(-50%, -44%);
  }
}
