@import 'variables';
$game-bg: #131217;

.section {
  background-color: $game-bg;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
}

.view {
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.screen {
  display: flex;
  justify-content: center;
}

.bg {
  object-fit: cover;
}

.book {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  max-width: 290px;
  transform: translate(-50%, -50%);
  animation: swing 5s infinite ease-in-out;
}

.loading {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
}

@keyframes swing {
  0% {
    transform: translate(-50%, -44%);
  }

  50% {
    transform: translate(-50%, -54%);
  }

  100% {
    transform: translate(-50%, -44%);
  }
}
