@import 'variables';

.root {
  margin-bottom: 1em;
}

.heading {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    background-color: $text-light;
    width: 3px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
  }
}

.subhead {
  opacity: .4;
  font-size: 20px;
}
