@import 'variables';

.root {
  margin-bottom: 1em;
}

.heading {
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    background-color: currentColor;
    width: 3px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
  }
}

.subhead {
  opacity: .4;
}

.center {
  text-align: center;

  &::before {
    content: none;
  }
}
