@import 'variables';

.root {
  font-family: Vazir, $font-family-base;
  text-align: start;
  line-height: 1.4em;
  font-weight: 500;
}

.latin {
  font-family: 'Homenaje', $font-family-base;
  text-align: unset;
  line-height: 1.2em;
}

.h1 {
  font-size: 3.2em;

  &.latin {
    font-size: 3.5em;
  }
}

.h2 {
  font-size: 2.8em;

  &.latin {
    font-size: 3em;
  }
}

.h3 {
  font-size: 2.6em;

  &.latin {
    font-size: 2.5em;
  }
}

.h4 {
  font-size: 1.2em;

  &.latin {
    font-size: 1.6em;
  }
}

.h5 {
  font-size: .8em;

  &.latin {
    font-size: 1em;
  }
}

.h6 {
  font-size: .5em;

  &.latin {
    font-size: .8em;
  }
}
