@import 'variables';

.section {
  background-color: $main-bg;
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  text-align: center;
}

.subhead {
  margin-bottom: 2em;
}

.stars {
  width: 100%;
  height: 100%;
  position: absolute;
}
