@import 'variables';
$main-bg: #131419;

.section {
  background-color: $main-bg;
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.subhead {
  margin-bottom: 2em;
}
