@import 'variables';

.section {
  background-image: linear-gradient(to bottom, $sky-bg, $main-bg);
  color: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 3em;
}

.logo {
  height: 120px;
  margin-bottom: 3em;
}

.heading {
  text-align: center;
  color: $white !important;
  opacity: .9;
  font-size: 3.8em !important;
}

.subhead {
  margin-bottom: 2em;
  opacity: .6;
  color: $text-light;
}

.stars {
  position: absolute;
  z-index: 0;
  pointer-events: visibleStroke;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  z-index: 1;
}
