.root {
  background-image: linear-gradient(to right bottom, #fae353, #feb844);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293c44;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 8%;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  display: flex;
  justify-content: center;
  height: 100%;
}

.heading {
  flex: 1;
  width: 300px;
  transition: font-size 500ms;
}

.p {
  font-size: 18px;
  margin-bottom: 0;

}

.link {
  color: #136eb3;
}

.illustration {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: -5%;
}

@media screen and (max-width: 768px) {
  .root {
    justify-content: stretch;
  }

  .container {
    flex-direction: column-reverse;
    padding: 2em 10px 3em;
  }

  .illustration {
    margin-bottom: 1em;
  }

  .heading {
    text-align: center !important;
  }

  .left {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
  }

  .right {
    flex: 1;
  }
}

@media screen and (max-width: 320px),
screen and (max-height: 400px)
{
  .heading {
    font-size: 2rem !important;
  }
}
