@import 'variables.scss';

.container {
  color: $text-light;
  background-image: linear-gradient(to bottom, $app-bg, $game-bg);
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1.5em 0;
}

.heading {
  margin: .8em 0;
}
