.root {
  background-image: url('/images/fire.png');
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  overflow: visible;
}

.particles {
  position: absolute;
  width: 15%;
  left: 43%;
  height: calc(80% - 10px);
}
