.root {
  height: 120vh;
  background-image: url('/images/fire.png');
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  overflow: visible;
}

.particles {
  position: absolute;
  width: 20%;
  left: 40%;
  height: calc(80% - 10px);
}
